.background {
    background-image: url(./media/background-image.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}/*背景图片*/
.background2 {
  background-image: url(./media/background-image.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}/*背景图片*/
.background3 {
  background-image: url(./media/background-image.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}/*背景图片*/
span {
  font-weight: bold;
  color:rgb(48, 57, 197)
}/*文字加粗部分*/
.breadcrumb {
    float: right;
    font-size: 25px;
} /*右上角的面包屑导航*/
.H1 {          
  font-size:3.3em; 
  font-style:italic; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color:rgb(144, 79, 163)
} /*大标题样式（字号、字形、字体、颜色）*/
.hh{
  font-size:1.3em; 
  font-style:italic; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color:rgb(144, 79, 163);
  text-align:right;/*靠右*/
}/*副标题*/
.h1 {
  text-decoration:underline; color: rgb(119, 138, 51);
}/*章节标题样式（下划线、颜色）*/
.center{
  text-align:center;/*水平居中*/
}
.div{/*统一的div样式*/
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-left: 30px;
  opacity: 0.9;
  border-radius: 10px;
  width: 800px;
  background-color: rgba(239, 240, 183, 0.753);
  font-size: 20px;
}

.divcenter{/*统一的div样式*/
  font-size-adjust: inherit;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-left: 30px;
  opacity: 0.7;
  border-radius: 10px;
  width: 800px;
  background-color: rgba(158, 243, 137, 0.753);
  font-size: 20px;
  margin:0 auto;
}
.bolder {
  border: 0.5ex solid #000;
  border-radius: 10px;
}/*主边框*/
.side{  
  width: 400px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3) ;
  float: right;
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
}/*悬浮框*/
.side2{  
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.3) ;
  float: center;
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
}/*悬浮框*/
.side3{  
  width: 400px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5) ;
  float: center;
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
}/*悬浮框*/
.days {
    font-size: 216px;
    font-family: 'Rye', cursive;
    width: auto;
    text-align: center;
}

.days-label {
    font-size: 54px;
}

.seconds {
    margin-top: 32px;
    font-size: 55px;
    font-family: "Monda", Georgia, sans-serif;
    width: auto;
    text-align: center;
}

.container {
    position: absolute;
}

/*右上角悬浮*/
.right_top{
  right: 10px;
  top: 10px;
}

@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  src: local('Rye Regular'), local('Rye-Regular'), url('Rye-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: normal;
  src: local('Monda'), local('Monda-Regular'), url('Monda-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: bold;
  src: local('Monda Bold'), local('Monda-Bold'), url('Monda-Bold.ttf') format('truetype');
}

.button {
  position: relative;
  font-size: 14px;
  line-height: 1.45;
  font-weight: 700;
  min-height: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 12px 20px 8px;
  transition: all .15s ease,transform .2s ease-in-out;
  color: #fff;
  border-color: #bffe12;
  background-color: #faf05f86;
  cursor: pointer;
  justify-content: center;

}
.text {
  position: relative;
  
  font-size:40px;
}

.gradual{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  content: " ";
  display: block;
  background: -webkit-radial-gradient(center,ellipse cover,#3f2bf252 0,#f6174f77 50%);
  transition: width .4s ease-in-out,height .4s ease-in-out;
  transform: translate(-50%,-50%);/*关键*/
  border-radius: 50%;
  z-index: 1;
}
.button:hover .gradual{
  width: 225%;
  height: 810px;
}